<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="nettcpaddress" value="net.tcp://127.0.0.1:2660/CoreService/2011/netTcp" />
    <add key="impersonation_user" value="domain\user"/><!-- should be a local account -->
    <add key="impersonation_password" value=""/>
	  <add key="saveTemplateCode" value="true"/>
  </appSettings>
</configuration>